<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>mpstocksync</name>
    <displayName><![CDATA[Marketplace Stock Sync]]></displayName>
    <version>1.0.0</version>
    <description><![CDATA[Sync stock and prices with marketplaces]]></description>
    <author><![CDATA[MarkooPapa]]></author>
    <tab>marketplace</tab>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
    <limited_countries></limited_countries>
    <configurations>
        <mpstocksync_trendyol_seller_id>
            <validate>isString</validate>
        </mpstocksync_trendyol_seller_id>
        <mpstocksync_trendyol_integration_code>
            <validate>isString</validate>
        </mpstocksync_trendyol_integration_code>
        <mpstocksync_trendyol_api_key>
            <validate>isString</validate>
        </mpstocksync_trendyol_api_key>
        <mpstocksync_trendyol_api_secret>
            <validate>isString</validate>
        </mpstocksync_trendyol_api_secret>
        <mpstocksync_trendyol_token>
            <validate>isString</validate>
        </mpstocksync_trendyol_token>
        <mpstocksync_trendyol_active>
            <validate>isBool</validate>
        </mpstocksync_trendyol_active>
        <mpstocksync_update_interval>
            <validate>isUnsignedInt</validate>
        </mpstocksync_update_interval>
    </configurations>
</module>
