<?xml version="1.0" encoding="UTF-8"?>
<module>
    <name>mpstocksync</name>
    <displayName><![CDATA[MP Stock Sync Pro]]></displayName>
    <version><![CDATA[2.0.0]]></version>
    <description><![CDATA[Professional eMAG and Trendyol stock synchronization module]]></description>
    <author><![CDATA[MP Team]]></author>
    <tab>administration</tab>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
    <limited_countries></limited_countries>
</module>
